*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1240px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 30%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  padding: 5rem;
  background-color: #fff;
  color: #777;
}

.container {
  background-color: #f7f7f7;
  max-width: 1640px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

@-webkit-keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }
  80% {
    transform: translate(-12rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translate(-10rem);
  }
  80% {
    transform: translate(-12rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translate(10rem);
  }
  80% {
    transform: translate(12rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes RightToLeft {
  0% {
    opacity: 0;
    transform: translate(10rem);
  }
  80% {
    transform: translate(12rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes btnToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.title-first {
  color: #fff;
}
.title-first__main {
  display: block;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 5rem;
  margin-bottom: 1rem;
  -webkit-animation-name: leftToRight;
          animation-name: leftToRight;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
@media only screen and (max-width: 1240px) {
  .title-first__main {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 900px) {
  .title-first__main {
    font-size: 3.5rem;
    margin-bottom: 0;
    letter-spacing: 0.5rem;
  }
}
.title-first__secondary {
  display: block;
  font-weight: 100;
  letter-spacing: 0.5rem;
  font-size: 4rem;
  line-height: 4.8rem;
  -webkit-animation-name: RightToLeft;
          animation-name: RightToLeft;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6.5rem;
}
@media only screen and (max-width: 1240px) {
  .title-first__secondary {
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .title-first__secondary {
    font-size: 2.7rem;
    margin-bottom: 3rem;
    letter-spacing: 0.2rem;
  }
}

.title-secondary {
  font-size: 3.6rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  background-image: linear-gradient(90.05deg, rgba(161, 79, 3, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.3s ease;
}
.title-secondary--white {
  color: #fff;
}
.title-secondary:hover {
  transform: skewY(2deg) skewX(5deg) scale(1.06);
  text-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 1240px) {
  .title-secondary {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 900px) {
  .title-secondary {
    letter-spacing: 0.6rem;
  }
}

.title-third {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
}
@media only screen and (max-width: 1240px) {
  .title-third {
    font-size: 1.8rem;
  }
}

.parag {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
}
@media only screen and (max-width: 1240px) {
  .parag {
    font-size: 1.5rem;
  }
}

.text-align-center {
  text-align: center;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 900px) {
  .margin-bottom-80px {
    margin-bottom: 5rem;
  }
}

.navigation__toggle {
  display: none;
}
.navigation__button {
  background: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  right: 10rem;
  top: 10rem;
  z-index: 15;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.navigation__button:active {
  transform: scale(0.97);
}
.navigation__background {
  position: fixed;
  right: 11rem;
  top: 11rem;
  z-index: 11;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: radial-gradient(#ba8554, #a14f03);
  transition: all 0.7s cubic-bezier(0.78, 0.4, 0.05, 1.02);
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 13;
  opacity: 0;
  width: 0;
  transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__list {
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.navigation__item {
  text-align: center;
}
.navigation__item:not(:last-child) {
  margin-bottom: 5rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 4rem;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.5rem;
  background: linear-gradient(120deg, transparent, transparent 50%, #fff 50%);
  background-size: 250%;
  background-repeat: no-repeat;
  padding: 1rem 2rem;
  transition: all 0.7s ease;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #ba8554;
  transform: translateX(1rem);
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  display: inline-block;
  width: 3rem;
  height: 0.2rem;
  background-color: #000;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s ease;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__toggle:checked ~ .navigation__background {
  transform: scale(100);
}
.navigation__toggle:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__toggle:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__toggle:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__toggle:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
  position: relative;
  font-size: 2rem;
  background-color: #fff;
  padding: 1.5rem 4rem;
  border-radius: 5rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 1240px) {
  .btn, .btn:link, .btn:visited {
    font-size: 1.8rem;
    padding: 1.5rem 3.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .btn, .btn:link, .btn:visited {
    padding: 2rem 5rem;
  }
}
.btn:hover {
  transform: translateY(-0.4rem);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5);
  transform: scaleY(1.7);
}
.btn:active {
  transform: translateY(-2rem);
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  z-index: -1;
  transition: all 0.4s ease;
}
.btn--animated {
  -webkit-animation: btnToUp 1.3s ease 0.2s;
          animation: btnToUp 1.3s ease 0.2s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn--brown, .btn--brown:link .btn--brown:visited {
  background-color: #ba8554;
  color: #fff;
  letter-spacing: 0.2rem;
  font-weight: 500;
}
.btn--brown::after, .btn--brown:link .btn--brown:visited::after {
  background-color: #ba8554;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #777;
  text-decoration: none;
  padding: 1rem;
  border-bottom: 0.1rem solid #ba8554;
  transition: all 0.3s ease;
}
.btn-text:hover {
  background-color: #ba8554;
  color: #fff;
  transform: translateY(-0.4rem);
}
.btn-text:active {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(0);
}

.compisition {
  position: relative;
}
.compisition__photo {
  position: absolute;
  width: 55%;
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  z-index: 10;
  outline-offset: 0.5rem;
  transition: all 0.2s ease;
}
.compisition__photo:hover {
  z-index: 20;
  transform: scale(1.1);
  outline: 0.6rem solid #ba8554;
}
.compisition__photo--n1 {
  top: 0;
  left: 0;
}
.compisition__photo--n2 {
  top: 9rem;
  right: 2rem;
}
.compisition__photo--n3 {
  top: 15rem;
  left: 2rem;
}
.compisition:hover .compisition__photo:not(:hover) {
  transform: scale(0.95);
}

.adventure-card {
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: all 0.3s ease;
}
.adventure-card__icon {
  display: inline-block;
  font-size: 6rem;
  margin-bottom: 2.4rem;
  font-weight: 700;
  background-image: linear-gradient(90.05deg, rgba(161, 79, 3, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.adventure-card:hover {
  transform: translateY(-0.6rem);
  transform: scale(1.08);
}

.card-tour {
  position: relative;
  height: 52rem;
  perspective: 150rem;
  cursor: pointer;
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour {
    height: auto;
  }
}
.card-tour__side {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 52rem;
  width: 100%;
  color: wheat;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.7s ease;
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour__side {
    height: auto;
    position: relative;
  }
}
.card-tour__side--front {
  background-color: #fff;
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour__side--front {
    padding-bottom: 10rem;
  }
}
.card-tour__side--back {
  transform: rotateY(180deg);
  background-image: linear-gradient(120deg, #ba8554, #a14f03);
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour__side--back {
    padding-top: 2rem;
    transform: rotateY(0);
    -webkit-clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0% 100%);
    margin-top: -6rem;
  }
}
.card-tour:hover .card-tour__side--front {
  transform: rotateY(-180deg);
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour:hover .card-tour__side--front {
    transform: rotateY(0deg);
  }
}
.card-tour:hover .card-tour__side--back {
  transform: rotateY(0deg);
}
.card-tour__img {
  height: 24rem;
  background-blend-mode: hard-light;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 78%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 78%);
  margin-bottom: 4.5rem;
}
.card-tour__img--1 {
  background: #ba8554 url(../img/tour1.jpg) center/cover no-repeat;
}
.card-tour__img--2 {
  background: #ba8554 url(../img/tour2.jpg) center/cover no-repeat;
}
.card-tour__img--3 {
  background: #ba8554 url(../img/tour3.jpg) center/cover no-repeat;
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour__img {
    height: 30rem;
    margin-bottom: 7.5rem;
  }
}
.card-tour__title {
  position: absolute;
  top: 17.7rem;
  right: 0rem;
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour__title {
    top: 23rem;
    font-size: 3.8rem;
  }
}
.card-tour__span {
  background: linear-gradient(90.05deg, #ba8554, #a14f03);
  padding: 1rem 2rem 0.3rem 2rem;
}
.card-tour__span--2 {
  position: absolute;
  top: 3.7rem;
  right: 0;
  padding-bottom: 1rem;
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour__span--2 {
    top: 4.9rem;
  }
}
.card-tour__descr ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.card-tour__descr ul li {
  display: inline-block;
  font-size: 1.6rem;
  color: #777;
  border-bottom: 1px solid #777;
}
.card-tour__descr ul li:not(:last-child) {
  margin-bottom: 3rem;
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour__descr ul li {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour__descr ul li {
    font-size: 1.5rem;
    display: block;
    border: none;
  }
}
.card-tour__backSide-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour__backSide-box {
    position: relative;
    padding: 5rem 0;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}
.card-tour__text {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 8.7rem;
}
.card-tour__text--2 {
  font-size: 6rem;
  color: #fff;
  font-weight: 500;
}
@media only screen and (max-width: 900px), (hover: none) {
  .card-tour__text {
    margin-bottom: 2rem;
  }
}
.card-tour__btn {
  z-index: 2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.feedBack-card {
  width: 85%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  padding: 6rem;
  transform: skewX(-18deg);
}
@media only screen and (max-width: 900px) {
  .feedBack-card {
    transform: skewX(-10deg);
    padding: 4rem;
    text-align: center;
  }
}
.feedBack-card > * {
  transform: skewX(18deg);
}
@media only screen and (max-width: 900px) {
  .feedBack-card > * {
    transform: skewX(10deg);
  }
}
.feedBack-card__img {
  position: relative;
  float: left;
  width: 15rem;
  height: 15rem;
  background-color: #000;
  border-radius: 100rem;
  shape-outside: circle(50% at 50% 50%);
  text-transform: uppercase;
  margin-right: 4rem;
  overflow: hidden;
}
@media only screen and (max-width: 900px) {
  .feedBack-card__img {
    float: none;
    margin: 0 auto 4rem;
  }
}
.feedBack-card__img img {
  height: 100%;
  transform: scale(1.2);
  transition: all 0.3s ease;
}
.feedBack-card__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  opacity: 0;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #fff;
  transition: all 0.3s ease;
}
.feedBack-card:hover .feedBack-card__name {
  transform: translate(-50%, -50%);
  opacity: 1;
}
.feedBack-card:hover img {
  transform: scale(1);
  filter: blur(0.3rem) brightness(70%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7), rgba(0, 0, 0, 0.7));
}

.book {
  height: 50rem;
  background-image: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 55%, rgba(208, 140, 49, 0.8) 55%, rgba(150, 114, 21, 0.8) 100%), url(../img/form.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
@media only screen and (max-width: 900px) {
  .book {
    background-image: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 505%, rgba(208, 140, 49, 0.8) 55%, rgba(150, 114, 21, 0.8) 100%), url(../img/form.jpg);
  }
}

.form {
  width: 70%;
  padding-top: 5rem;
  padding-left: 5rem;
}
@media only screen and (max-width: 900px) {
  .form {
    width: 100%;
    padding: 3rem;
  }
}
@media only screen and (max-width: 600px) {
  .form {
    padding: 2rem;
  }
}
.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}
.form__group:nth-child(4) {
  margin-bottom: 4rem;
}
@media only screen and (max-width: 1240px) {
  .form__group:not(:last-child) {
    margin-bottom: 0rem;
  }
  .form__group:nth-child(4) {
    margin-bottom: 2.5rem;
  }
}
.form__input {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  padding: 2rem 0rem 2rem 2.2rem;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0.5rem;
  width: 75%;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 1240px) {
  .form__input {
    width: 70%;
  }
}
@media only screen and (max-width: 900px) {
  .form__input {
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  }
}
.form__input:focus {
  outline: none;
  border-bottom: 2px solid #66D763;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.form__input:focus:invalid {
  border-bottom: 2px solid #D76363;
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form__input:-ms-input-placeholder + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem);
}
.form__label {
  display: block;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-left: 1.5rem;
  transition: all 0.3s ease;
}
.form__group-radio {
  display: inline-block;
}
.form__group-radio:not(:last-child) {
  margin-right: 2rem;
}
@media only screen and (max-width: 1240px) {
  .form__group-radio {
    display: block;
  }
  .form__group-radio:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
.form__input-radio {
  display: none;
}
.form__label-radio {
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
}
.form__button-radio {
  display: block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 0.5rem solid #a14f03;
  position: absolute;
  top: -0.6rem;
  left: 0;
}
.form__button-radio::after {
  content: "";
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #a14f03;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease;
}
.form__input-radio:checked ~ .form__label-radio .form__button-radio::after {
  opacity: 1;
}

.nav-list {
  text-align: center;
  list-style-type: none;
}
.nav-list__item {
  display: inline-block;
}
.nav-list__item:not(:last-child) {
  margin-right: 5rem;
}
@media only screen and (max-width: 1240px) {
  .nav-list__item:not(:last-child) {
    margin-right: 1.6rem;
  }
}
@media only screen and (max-width: 900px) {
  .nav-list__item:not(:last-child) {
    margin-right: 3rem;
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 600px) {
  .nav-list__item:not(:last-child) {
    margin-right: 0rem !important;
  }
}
@media only screen and (max-width: 600px) {
  .nav-list__item {
    display: block;
    padding: 1rem 0;
  }
}
.nav-list__item:hover {
  transform: skewY(-1);
}
.nav-list__link:link, .nav-list__link:visited {
  display: inline-block;
  color: #fff;
  font-weight: 100;
  font-size: 1.6rem;
  text-decoration: none;
  letter-spacing: 0.2rem;
  transition: all 0.3s ease;
}
.nav-list__link:hover {
  transform: rotate(5deg) scale(1.2);
  color: #ba8554;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 1240px) {
  .row {
    max-width: 90.1rem;
  }
}
@media only screen and (max-width: 900px) {
  .row {
    max-width: 60.1rem;
  }
}

.col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
@media only screen and (max-width: 1240px) {
  .col-1-of-3 {
    width: calc((100% - 3 * 2rem) / 3);
  }
}

.col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem);
}

.col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
@media only screen and (max-width: 1240px) {
  .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4);
  }
}

.col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem);
}

.col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

[class^=col-] {
  float: left;
}
[class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 1240px) {
  [class^=col-]:not(:last-child) {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 900px) {
  [class^=col-]:not(:last-child) {
    margin-right: 0 !important;
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 900px) {
  [class^=col-] {
    width: 100%;
  }
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 670px), (min-resolution: 192dpi) and (min-width: 670px), (min-width: 1340px) {
  .header {
    background-image: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/header-bg-big.jpg);
  }
}
.header__logo {
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 5.6rem;
  height: 7rem;
}
.header__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 1240px) {
  .header__box {
    top: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    height: 60vh;
  }
}

.footer {
  background-color: #333333;
  text-align: center;
  padding: 8rem 0;
}
@media only screen and (max-width: 900px) {
  .footer {
    padding: 4rem 0;
  }
}
.footer__logo {
  width: 12rem;
  height: 15rem;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 900px) {
  .footer__logo {
    width: 10rem;
    height: 13rem;
    margin-bottom: 3rem;
  }
}

.section-about {
  padding-top: 8rem;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 1240px) {
  .section-about {
    padding-top: 4rem;
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 900px) {
  .section-about {
    margin-bottom: 40rem;
  }
}

.section-adventure {
  padding: 21rem 0;
  background-image: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(0, 0, 0, 0.7) 99.94%), url(../img/adventure-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 83%);
          clip-path: polygon(0 0, 100% 16%, 100% 100%, 0 83%);
}
@media only screen and (max-width: 1240px) {
  .section-adventure {
    padding: 15rem 0;
  }
}
@media only screen and (max-width: 900px) {
  .section-adventure {
    padding: 27rem 0;
  }
}

.section-tour {
  padding-top: 8rem;
  margin-bottom: 8rem;
}
@media only screen and (max-width: 1240px) {
  .section-tour {
    padding-top: 6rem;
    margin-bottom: 6rem;
  }
}

.section-feedBack {
  position: relative;
  padding: 8rem 0;
}

.section-book {
  padding: 10rem;
  background-image: linear-gradient(90.05deg, #ba8554, #a14f03);
}/*# sourceMappingURL=main.css.map */