$color-gray: #777;
$color-brown-light: #ba8554;
$color-brown-dark: #a14f03;
$color-balck: #000;
$color-white:#fff;

$box-shadow: (0 4px 4px rgba(0, 0, 0, .3));
$text-shadow: 0 .4rem .4rem rgba($color-balck, 0.25);
$morgin-vertical-big: 8rem;
$grid-width: 114rem;
$gutter-horizontal: 6rem;

$font-size-parag: 1.6rem;
$font-size-parag-h2: 3.6rem;
$font-size-parag-h3: 2rem; 