.footer{
    background-color: #333333;
    text-align: center;
    padding: 8rem 0;
    @include respond(tab-port){
        padding: 4rem 0;
    }
    &__logo{
        width: 12rem;
        height: 15rem;
        margin-bottom: 5rem;
        @include respond(tab-port){
            width: 10rem;
            height: 13rem;
        margin-bottom: 3rem;
        }
    }
}