.adventure-card{
    padding: 2.5rem;
    background-color: rgba($color-white, 80%);
    border-radius: .5rem;
    box-shadow: $box-shadow;
    text-align: center;
    transition: all .3s ease;
    &__icon{
        display: inline-block;
        font-size: 6rem;
        margin-bottom: 2.4rem;
        font-weight: 700;
        background-image: linear-gradient(90.05deg, rgba($color-brown-dark, 0.7) 0.03%, rgba($color-balck, 0.7) 99.94%);
        background-clip: text;
        color: transparent;
    }
    &:hover{
        transform: translateY(-.6rem);
        transform: scale(1.08);
    }
}