.compisition{
    position: relative;
    &__photo{
        position: absolute;
        width: 55%;
        border-radius: .5rem;
        box-shadow: $box-shadow;
        z-index: 10;
        outline-offset: .5rem;
        transition: all .2s ease;
        &:hover{
            z-index: 20;
            transform: scale(1.1);
            outline: .6rem solid $color-brown-light;
        }
    }
    &__photo--n1{
        top:0;
        left: 0;
    }
    &__photo--n2{
        top:9rem;
        right: 2rem;
    }
    &__photo--n3{
        top: 15rem;
        left: 2rem;
    }
    &:hover &__photo:not(:hover){
        transform: scale(.95);
    }
}