.feedBack-card{
    width: 85%;
    background-color: rgba($color-white, .7);
    box-shadow: $box-shadow;
    margin: 0 auto;
    padding: 6rem;
    transform: skewX(-18deg);
    @include respond(tab-port){
        transform: skewX(-10deg);
        padding: 4rem;
        text-align: center;
    }
    & >*{
        transform: skewX(18deg);
        @include respond(tab-port){
            transform: skewX(10deg);
        }
    }
    &__img{
        position: relative;
        float: left;
        width: 15rem;
        height: 15rem;
        background-color: $color-balck;
        border-radius: 100rem;
        shape-outside: circle(50% at 50% 50%);
        text-transform: uppercase;
        margin-right: 4rem;
        overflow: hidden;
        @include respond(tab-port){
            float: none;
            margin: 0 auto 4rem;
        }
        img{
            height: 100%;
            transform: scale(1.2);
            transition: all .3s ease;
        }
    }
    &__name{
        @include positions(50%, 50%);
        transform: translate(-50%, -20%);
        opacity: 0;
        text-align: center;
        font-size: 2rem;
        letter-spacing: .2rem;
        color: $color-white;
        transition: all .3s ease;
    }
    &:hover &__name{
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    &:hover img{
        transform: scale(1);
        filter: blur(.3rem) brightness(70%);
    }
}