.navigation{
    &__toggle{
        display: none;
    }
    &__button{
        background: $color-white;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        right: 10rem;
        top: 10rem;
        z-index: 15;
        cursor: pointer;
        transition: all .3s ease;
        text-align: center;
        box-shadow: $box-shadow;
        &:active{
            transform: scale(.97);
        }
    }
    &__background{
        position: fixed;
        right: 11rem;
        top: 11rem;
        z-index: 11;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background: radial-gradient($color-brown-light, $color-brown-dark);
        transition: all .7s cubic-bezier(.78,.4,.05,1.02);
    }
    &__nav{
        height: 100vh;
        position: fixed;
        top:0;
        right: 0;
        z-index: 13;
        opacity: 0;
        width: 0;
        transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }
    &__list{
        list-style-type: none;
        @include positions(50%, 50%);
        transform: translate(-50%, -50%);
        width: 100%;
    }
    &__item{
        text-align: center;
        &:not(:last-child) {
            margin-bottom: 5rem;
        }
    }
    &__link{
        &:link, &:visited{
            display: inline-block;
            text-decoration: none;
            font-size: 4rem;
            font-weight: 100;
            text-transform: uppercase;
            color:$color-white;
            letter-spacing: .5rem;
            background: linear-gradient(120deg, transparent, transparent 50%, $color-white 50%);
            background-size: 250%;
            background-repeat: no-repeat;
            padding: 1rem 2rem;
            transition: all .7s ease;
        }
        &:hover, &:active{
            background-position: 100%;
            color:$color-brown-light;
            transform:  translateX(1rem);
        }
    }
    &__icon{
        position: relative;
        margin-top: 3.5rem;
        &,
        &::before,
        &::after{
            display: inline-block;
            width: 3rem;
            height: .2rem;
            background-color: $color-balck;
        }
        &::before,
        &::after{
            content:'';
            position: absolute;
            left: 0;
            transition: all .2s ease;
        }
        &::before{
            top:-.8rem;
        }
        &::after{
            top:.8rem;
        }
    }
    &__toggle:checked ~ &__background{
        transform: scale(100);
    }
    &__toggle:checked ~ &__nav{
        opacity: 1;
        width: 100%;
    }
    &__toggle:checked + &__button &__icon{
        background-color: transparent;
    }
    &__toggle:checked + &__button &__icon::before{
        top:0;
        transform: rotate(135deg);
    }
    &__toggle:checked + &__button &__icon::after{
        top:0;
        transform: rotate(-135deg);
    }
    &__button:hover &__icon::before{
        top: -1rem;
    }
    &__button:hover &__icon::after{
        top: 1rem;
    }
}