.card-tour{
    position: relative;
    height: 52rem;
    perspective: 150rem;
    cursor: pointer;
    @media only screen and (max-width: 900px), (hover:none){
        height: auto;
    }
    &__side{
        @include positions(0px,0px);
        height: 52rem;
        width: 100%;
        color: wheat;
        backface-visibility: hidden;
        box-shadow: $box-shadow;
        border-radius: .5rem;
        overflow: hidden;
        transition: all .7s ease;
        @media only screen and (max-width: 900px), (hover:none){
            height: auto;
            position: relative;
        }
        &--front{
            background-color: $color-white;
            @media only screen and (max-width: 900px), (hover:none){
                padding-bottom: 10rem;
            }
        }
        &--back{
            transform: rotateY(180deg);
            background-image: linear-gradient(120deg, $color-brown-light, $color-brown-dark );
            @media only screen and (max-width: 900px), (hover:none){
                padding-top: 2rem;
                transform: rotateY(0);
                clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0% 100%);
                margin-top: -6rem;
            }
        }
    }
    &:hover &__side--front{
        transform: rotateY(-180deg);
        @media only screen and (max-width: 900px), (hover:none){
            transform: rotateY(0deg);
        }
    }
    &:hover &__side--back{
        transform: rotateY(0deg);
    }
    &__img{
        height: 24rem;
        background-blend-mode: hard-light;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 78%);
        margin-bottom: 4.5rem;
        &--1{
            background: $color-brown-light url(../img/tour1.jpg) center / cover no-repeat;
        }
        &--2{
            background: $color-brown-light url(../img/tour2.jpg) center / cover no-repeat;
        }
        &--3{
            background: $color-brown-light url(../img/tour3.jpg) center / cover no-repeat;
        }
        @media only screen and (max-width: 900px), (hover:none){
            height: 30rem;
            margin-bottom: 7.5rem;
        }
    }
    &__title{
        position: absolute;
        top:17.7rem;
        right: 0rem;
        font-size: 2.8rem;
        letter-spacing: .2rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        @media only screen and (max-width: 900px), (hover:none){
            top:23rem;
            font-size: 3.8rem;
        }
    }
    &__span{
        background: linear-gradient(90.05deg, $color-brown-light, $color-brown-dark);
        padding: 1rem 2rem .3rem 2rem;
        &--1{

        }
        &--2{
            position: absolute;
            top:3.7rem;
            right: 0;
            padding-bottom: 1rem;
            @media only screen and (max-width: 900px), (hover:none){
                top:4.9rem;
            }
        }
    }
    &__descr{
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
            li{
                display: inline-block;
                font-size: $font-size-parag;
                color:$color-gray;
                border-bottom: 1px solid $color-gray;
                &:not(:last-child) {
                    margin-bottom: 3rem;
                }
                @media only screen and (max-width: 900px), (hover:none){
                    font-size: 1.5rem;
                }
                @media only screen and (max-width: 900px), (hover:none){
                    font-size: 1.5rem;
                    display: block;
                    border: none;
                }
            }
        }
    }
    &__backSide-box{
        @include positions(50%, 50%);
        transform: translate(-50%, -50%);
        text-align: center;
        @media only screen and (max-width: 900px), (hover:none){
            position: relative;
            padding: 5rem 0;
            top:0;
            left: 0;
            transform: translate(0 ,0);
        }
    }
    &__text{
        font-size: $font-size-parag;
        letter-spacing: .2rem;
        text-transform: uppercase;
        margin-bottom: 8.7rem;
        &--1{
        }
        &--2{
            font-size: 6rem;
            color:$color-white;
            font-weight: 500;
        }
        @media only screen and (max-width: 900px), (hover:none){
            margin-bottom: 2rem;
        }
    }
    &__btn{
        z-index: 2;
        box-shadow: $box-shadow;
    }
}